*{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}
body{
    width: 100%;
    padding: 5%;
    margin: 5%;
}
.main{
  width: 90%;
  border: 8px;
    border-color: solid gray;
    background-color:rgb(69, 110, 146);
    justify-items: center;
    display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  height: 100vh;
}
.header{
  margin: 5%;
  height: 10vh;
  justify-items: center;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img{
 align-items: center;
 height: 80%;
 width: fit-content;
 border-radius: 100vw;
}
form{
  margin-bottom: 5%;
  height: 30%;
}
input{
    padding: 0.5%;
    border-color: hsl(246, 25%, 77%);
    border-radius: 4px;
    font-size: .7em;
    font-weight: 700;
    color: black;
    background-color: white;
    height: 100%;
    text-align: center;
  }
ul{
    list-style-type: style none;
    list-style: none;
    height: 90vh;
    margin: 5%;
  }
a {
  margin: 0.5%;
  text-decoration: none;
  color: red;
  font-size: larger;
}
li{
    list-style-type: style none;
    list-style: none;
    width: 75%;
    padding: 2%;
    margin: 1%;
    border-color: solid hsl(248, 21%, 7%);
    border-radius: 4px;
    font-size: .6em;
    font-weight: 700;
    background-color: aqua;
    height: 10vh;
    text-align: center;
    text-decoration: none;
}
  li:nth-child(1){
    height: 5vh;
  }
  li:nth-child(2){
    height: 7vh;
  }
  @media(min-width: 992px){
    html{
      min-width: 992px;
      }
 }
  @media (min-width:768px) and (max-width:991px) {
    html{
      max-width: 991px;
      min-width: 768px;
      }
 } 
  @media(max-width:767px){
    html{
       max-width: 767px;
       }
  }